body {
  font-family: "Open Sans";
}

h1,
h2 {
  font-family: "Lobster";
}

h3 {
  font-family: "Open Sans";
  color: #3f2929;
}

h1 {
  font-size: 60px;
  color: #140914;
}

h5 {
  font-family: "Bebas Neue";
}

header h5 {
  color: rgba(136, 90, 90, 0.707);
  margin-bottom: 15px;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/7045865/pexels-photo-7045865.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

h2 {
  color: #3f2929;
}
header h5 {
  margin-left: 100px;
}
header h1 {
  color: #3f2929;
  margin-left: 100px;
  margin-bottom: 40px;
}

header p {
  color: #3f2929;
  margin-left: 100px;
  margin-bottom: 100px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: hsl(32, 32%, 44%);
}

li {
  color: rgba(136, 90, 90, 0.707);
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.carousel-caption {
  background-color: rgba(134, 132, 132, 0.5);
}

.carousel {
  border: solid #ffffff;
}

.site-footer {
  background-color: hsl(0, 0%, 98%);
  font-family: "open sans";
}

footer h5 {
  font-family: "open sans";
}
.social {
  margin-left: 160px;
}
.footer-text {
  color: #3f2929;
}

.reserve-info {
  color: #473333;
}
